crawl4ai==0.8.6
pyarrow==20.0.0
plotly==6.1.2
streamlit==1.45.1

# Gửi HTTP requests (GET/POST/headers/cookies), dùng để crawl dữ liệu web
requests==2.33.1

# Parse & trích xuất dữ liệu HTML/XML (find, select, css selector)
beautifulsoup4==4.14.3

# Parser HTML/XML tốc độ cao, backend cho BeautifulSoup & XPath
lxml==5.4.0

# Đọc/ghi file cấu hình YAML (config crawler, setting, mapping rule)
PyYAML==6.0.3

# Xử lý dữ liệu dạng bảng (DataFrame), làm sạch & xuất CSV/Excel
pandas==2.2.3

# Xử lý ngày giờ nâng cao (parse, timezone, timedelta)
python-dateutil==2.9.0.post0

